<h1>Mes tâches</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.title, task_path(task) %>
      <%= link_to task_path(task), data: {turbo_method: :delete} do %>
        <i class="fa-solid fa-trash"></i>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to ' + Ajouter nouvelle tâche', tasks_new_path %>
